{# empty Twig template #}
<h3>{{page.header.title}}</h3>
 <p>
     <a id="minibtn" href="#" class="btn">Mini</a> <a id="pitibtn" href="#" class="btn">Kleiner / Petit</a> <a id="grobtn" href="#" class="btn btn-primary">Grosser / Grand</a></p>
{{page.content}}